<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>403</title>
</head>
<body>
    <center>
    <img src="/static/neo.gif"  class="rounded float-left" alt="image_filename" width="500px" height="400px">
    <p><h2>!!! Access Denied !!!</h2></p>
    <p><h3>If  You Think You Are "The One" Who Can Access This Page.</h3></p>
    <p><h3>Please Contact Admin.</h3></p>
    </center>
</body>
</html>