<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <style>  
      .status-bar {
        background-color: #ffffff;
        padding: 10px;
        font-family: Lucida Bright	
      }
    </style>
   </head>
<body>
    <div>
        <center><h1><em>Item deleted successfully</em></h1></center>
    </div><br><br>


  <div class="status-bar" >
    <center>
      <font size="+3">
      <a href="/"> <em><b> Home Page </b></em> </a>
      <a href="/cart"> <em><b>Cart</b></em>  </a> 
      <a href="/order"> <em></em><b> Your Order </b></em> </a>
      </font>
    </center>
    </div>
    