<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <style>  
      .status-bar {
        background-color: #ffffff;
        padding: 10px;
        font-family: Lucida Bright	
      }
    </style>
   </head>
<body>
    <div>
        <center><h1><em>Added into cart successfully</em></h1></center>
    </div><br><br>


  <div class="status-bar" >
    <center>
      <font size="+3">
      <a href="/"> <em><b> Home Page </b></em> </a>&nbsp;
      <a href="/cart"> <em><b>Cart</b></em>  </a> &nbsp;
      <a href="/user_category"> <em><b> Category </b></em></a>&nbsp;
      <a href="/order"> <em></em><b> Your Order </b></em> </a><br>
      <a href="/logout">Logout</a>
      </font>
    </center>
    </div>
    